body {
    --color-primary: #b300b3;
    --color-primary-dark: #990073;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
    --color-text: #b200ff;
    margin: 0;
    height: 100vh;
    display: flex;
    font-size: 18px;
    background-color: #eeeeee;
    background-size: cover;
}

.header {
    width: 100%;


    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}
.text{
    align-content:center;
    color:var(--color-text);
 
    padding-left:200px;
    padding-right:200px;
}
.text2 {
    font-size: 130%;
}
.main {
  
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.input,
.button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message--success {
    color: var(--color-success);
}

.message--error {
    color: var(--color-error);
}

.input-group {
    margin-bottom: 1rem;
}

.input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

    .input:focus {
        border-color: var(--color-primary);
        background: #ffffff;
    }

.input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

    .button:hover {
        background: var(--color-primary-dark);
    }

    .button:active {
        transform: scale(0.98);
    }

.text {
    text-align: center;
}

.link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

    .link:hover {
        text-decoration: underline;
    }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #b200ff;
        }

        .sidenav a:active {
            color: blue;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

header {
    padding: 20px;
    background: var(--color-backgraund);
   
}
.menu {
    justify-content: space-between;
}

.logo {
    color: var(--color-primary);
    font-size: 160%;
}
 .lang{
     cursor:pointer;
     justify-content:space-between;
     display:flex;
 }
.lang-choose {
 vertical-align:middle;
    border: 1px solid #f8f8f8;

}
.lang-choose select {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
}
.lang-choose select option{
    width:125px;
    display:block;
    padding:5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 2px 10px ;
    z-index: 1;
}
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
.dropdown:hover .dropbtn {
    background-color: var(--color-secondary);
    color: white;
}

.dropdown-content a:hover {
    background-color: var(--color-primary);
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 600px) {
    header a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    header a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .responsive {
        position: relative;
    }

        header.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        header.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        header.responsive .dropdown {
            float: none;
        }

        header.responsive .dropdown-content {
            position: relative;
        }

        header.responsive .dropdown .dropbtn {
            display: block;
            width: 100%;
            text-align: left;
        }
}
